
#bingo_board {
    width:500px ;
    height: 500px ;
    flex-wrap:wrap;
    flex-direction:row ;
    justify-content: space-between;
}

.bingo_card {
    width: 98px;
    height: 98px;
    text-align: center;
    margin:0;
    border: 1px solid black;
}